<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>

    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <environment include="Development">
        <link href="~/css/main.css" rel="stylesheet">
        <link href="~/css/prettyPhoto.css" rel="stylesheet">
        <link href="~/css/price-range.css" rel="stylesheet">
        <link href="~/css/responsive.css" rel="stylesheet">
        <link href="~/css/animate.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <script src="~/js/jquery.js"></script>
    @await RenderSectionAsync("styles", false)
</head><!--/head-->
<body>
    @await Html.PartialAsync("_Header")
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>

    @await Html.PartialAsync("_Footer")

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.scrollUp.min.js"></script>
        <script src="~/js/price-range.js"></script>
        <script src="~/js/jquery.prettyPhoto.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/cart/cartLogic.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"
                asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-append-version="true"></script>
        <script src="~/js/jquery.scrollUp.min.js"
                asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
    $(function() {
        Cart.init({
            addToCartLink: '@Url.Action("AddToCart","Cart")',
            getCartViewLink: '@Url.Action("GetCartView", "Cart")',
            removeFromCartLink: '@Url.Action("RemoveFromCart","Cart")',
            decrementLink: '@Url.Action("DecrementFromCart","Cart")'
        });
    });
    </script>



    <!--Секция для отображения кастомных скриптов, если понадобятся-->
    @await RenderSectionAsync("scripts", false)
</body>
</html>