@model WebStore.Models.EmployeeView
<hr />
<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.SurName</td>
    </tr>
    <tr>
        <td>Отчество</td>
        <td>@Model.Patronymic</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>
            Редактировать
        </td>
        <td>
            <form method="get" asp-action="Commit" asp-route-id="@Model.Id">
                <table>
                    <tr>
                        <td><input type="text" name="firstName" required placeholder="Имя" /></td>
                        <td><input type="text" name="sureName" required placeholder="Фамилия" /></td>
                        <td><input type="text" name="patronymic" required placeholder="Отчество" /></td>
                        <td><input type="number" name="age" required placeholder="Возраст" /></td>
                        <td><input type="submit" value="Сохранить" /></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-action="EmployeeList">Назад к списку</a>
        </td>
    </tr>
</table>