
@using WebStore.Entities.Entities
@model WebStore.Areas.Admin.Models.OrdersListViewModel

@{
    ViewData["Title"] = "Orders List";
    Order orderExample = new Order();
}

<form method="get">
    <div class="form-inline">
        <label class="control-label">Name: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })
 
        <label class="control-label">Day: </label>
        @Html.DropDownList("day", Model.FilterViewModel.DaysList as SelectList,
            htmlAttributes: new { @class = "form-control" })
 
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @nameof(orderExample.Id)
            </th>
            <th>
                @nameof(orderExample.Name)
            </th>
            <th>
                @nameof(orderExample.User.UserName)
            </th>
            <th>
                @nameof(orderExample.Phone)
            </th>
            <th>
                @nameof(orderExample.Address)
            </th>
            <th>
                @nameof(orderExample.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrdersList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.NormalizedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "ProductEdit", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Details", "ProductDetails", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Delete", "ProductDelete", new { area = "Admin", id = item.Id })*@

                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="OrderDetails" asp-route-Id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="OrdersList"></page-link>
