
@using WebStore.Entities.Entities
@model WebStore.Areas.Admin.Models.OrdersListViewModel

@{
    ViewData["Title"] = "Orders List";
}

<hr>
@{
    Order orderExample = new Order();
}
<table class="table">
    <thead>
        <tr>
            <th>
                @nameof(orderExample.Id)
            </th>
            <th>
                @nameof(orderExample.Name)
            </th>
            <th>
                @nameof(orderExample.User.UserName)
            </th>
            <th>
                @nameof(orderExample.Phone)
            </th>
            <th>
                @nameof(orderExample.Address)
            </th>
            <th>
                @nameof(orderExample.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrdersList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "ProductEdit", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Details", "ProductDetails", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Delete", "ProductDelete", new { area = "Admin", id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="OrdersList"></page-link>
