
@model WebStore.Areas.Admin.Models.ProductListViewModel

@{
    ViewData["Title"] = "Список продуктов";
}

<p>
    <a asp-area="Admin" asp-controller="Home" asp-action="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.SectionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.BrandId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { area = "Admin", id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="ProductList"></page-link>
